# Directories
.vs/
.vscode/
bin*/
logs/

# Ignore the entire .idea folder except for shared configurations
.idea/
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/vcs.xml

# Files
*.user
*.DS_STORE
*.xcworkspace/
*.xcodeproj/
*.vcxproj*
*.sln
*Makefile
*.pyc
*.dll
*.lib
*.pdb
*.exp

# Allow list
!premake5.exe
!PostBuildCopy/Windows/mimalloc-redirect.dll
!external/Private/mimalloc/lib/Windows/mimalloc-redirect.lib
!tools/bin